.clearfix::after { 
  content: '';
  display: block; 
  clear: both;
}

* {
  margin: 0;
  padding: 0;
}

.header{
  width: 400px;
  height: 100px;
  background-color: #141f40;
}

.center-left{
  width: 150px;
  height: 250px;
  background-color: #80bfa8;
  float: left;
}

.center-right{
  width: 250px;
  height: 250px;
  background-color: #8c2727;
  float: left;
}

.footer{
  width: 400px;
  height: 100px;
  background-color: #d98d30;
}

@media screen and (max-width: 767px) {
  .header{
      width: 250px;
  }
  .center-right{
      width: 100px;
  }
  .footer{
      width: 250px;
  }
}

@media screen and (max-width: 479px) {
  .header {
    width: 150px;
  }
  .center-right{
    width: 150px;
  }
  .footer{
    width: 150px;
  }
  .center{
    clear: both;
  }
}